@import "tailwindcss";

/* 기본 스타일 */
body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
}

/* 폰트 클래스 */
.font-noto {
    font-family: 'Noto Sans KR', sans-serif;
}

.font-bold {
    font-weight: 700;
}

.font-medium {
    font-weight: 500;
}

.font-normal {
    font-weight: 400;
}